
<section id="intro">
      <hgroup>
      <h1>"Simplicity is the ultimate sophistication"<span>- Leonardo da Vinci</span></h1>
      <h2>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec molestie. Sed aliquam sem ut arcu. Phasellus sollicitudin. 
      Vestibulum condimentum  facilisis nulla. In hac habitasse platea dictumst. Nulla nonummy. Cras quis libero.</h2>
      </hgroup>
   </section>
   <!--end intro-->
   <!--start holder-->
   <div class="holder_content">
      <section class="group1">
         <h3>Quienes Somos</h3>
         <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec molestie. Sed aliquam sem ut arcu. Phasellus sollicitudin. 
         Vestibulum condimentum  facilisis nulla. In hac habitasse platea dictumst. Nulla nonummy.</p><br/>
         <%= image_tag "picture1.jpg" , :size => "240x214", :alt => "logo", :class => "img-polaroid" %><br/><br/>
         <%= button_to "Seguir Leyendo",{:action => "quienes_somos"}, :class => "btn btn-inverse" %>  
       </section>
      <section class="group2">
         <h3>Servicios</h3>
         <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec molestie. Sed aliquam sem ut arcu. Phasellus sollicitudin. 
         Vestibulum condimentum  facilisis nulla. In hac habitasse platea dictumst. Nulla nonummy.</p><br/>
         <%= image_tag "picture2.jpg" , :size => "240x214", :alt => "logo", :class => "img-polaroid" %><br/><br/>
         <%= button_to "Seguir Leyendo",{:action => "servicios"}, :class => "btn btn-inverse" %>   
       </section>
      <section class="group3">
         <h3>Contacto</h3>
         <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec molestie. Sed aliquam sem ut arcu. Phasellus sollicitudin. 
         Vestibulum condimentum facilisis nulla. In hac habitasse platea dictumst. Nulla nonummy.   </p><br/>
         <%= image_tag "picture3.jpg" , :size => "240x214", :alt => "logo", :class => "img-polaroid" %><br/><br/>
         <%= button_to "Seguir Leyendo",{:action => "contacto"}, :class => "btn btn-inverse" %>   
   	</section>
	</div>
	<!--end holder-->
   <!--start holder-->
   <div class="holder_content">
      <section class="group4">
         <h3>Latest article</h3>
         <article>
         <h4>22.08.2011  - Design to express </h4>
         <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec molestie. Sed aliquam sem ut arcu. Phasellus sollicitudin. Vestibulum condimentum facilisis nulla. In hac habitasse platea dictumst. Nulla nonummy. Cras quis libero.</p>
         <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec molestie. Sed aliquam sem ut arcu. Phasellus sollicitudin. Vestibulum condimentum facilisis nulla. In hac habitasse platea dictumst. Nulla nonummy. Cras quis libero.</p>
         <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec molestie. Sed aliquam sem ut arcu. Phasellus sollicitudin. Vestibulum condimentum facilisis nulla. In hac habitasse platea dictumst.</p>
         </article> 
       </section>
   </div>
   